<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>실시간 도로 이상상황</title>
    <link rel="stylesheet" href="page.css">
    <link rel="import" href="page_map.html">
</head>
<body>
    <div id="container">
        <header>
            <div id="logo">
                <a href="index.html"> 
                    <h1>실시간 도로 이상상황</h1>
                </a>
            </div>
            <nav>
                <ul id="topMenu">
                    <li><a href="#">이력조회<span></span></a>
                        <ul>
                            <li><a href="#">CCTV 검색하기</a></li>
                            <li><a href="#">시간대별 검색하기</a></li>
                            <li><a href="#">지역별 검색하기</a></li>
                            <li><a href="#">키워드 검색하기</a></li>
                        </ul>
                    </li>
                    <li><a href="#">통계정보<span></span></a>
                        <ul>
                            <li><a href="#">주간 통계 보기</a></li>
                            <li><a href="#">월간 통계 보기</a></li>
                            <li><a href="#">시간대별 통계 보기</a></li>
                        </ul>
                    </li>
                    <li><a href="#">공지사항<span></span></a>
                        <ul>
                            <li><a href="#">공지사항</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>    
        </header>

        <div id="image">
            <img src="road.png" alt="">
        </div>
        <div id = 'contents'>
            <div id = "tabMenu">
                <input type="radio" id="tab1" name = "tabs" checked>
                <label for="tab1">실시간 사고 정보</label>
                <input type="radio" id="tab2" name="tabs">
                <label for="tab2">공지사항</label>

                <div id="info" class = "tabContent">
                    <h2>실시간 사고 정보입니다.</h2>
                    <ul>
                        <li>11시50분 내부순환로 정차차량 발생</li>
                        <li>11시38분 북악터널 낙하물 사고 발생</li>
                        <li>10시52분 경부고속도로 화재 발생</li>
                    </ul>
                </div>

                <div id="notice" class="tabContent">
                    <h2>공지사항 입니다.</h2>
                    <ul>
                        <li>박도연 바보</li>
                    </ul>
                </div>
            </div>  

            <div id="map-container">
                <iframe src="map.html" width="900" height="500"></iframe>
            </div>
        </div>    
        <footer>
        <div id="bottomMenu">
            <ul>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">정보처리방침</a></li>
            </ul>
        </div> 
        <div id="company">
            <p>서울특별시 금천구 가산동 371-28 (빅데이터 분석가 양성과정)</p>
        </div>    
        </footer>
    </div>
</body>    
</html>
