{% extends "base.html" %}
{% block style %}
{% endblock %}

{% block contents %}
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">머신러닝을 활용한 종합 기능형 교통관제</h1>
    <p class="mb-4">Bootstrap's default utility classes can be found on the official <a
            href="https://getbootstrap.com/docs">Bootstrap Documentation</a> page. The custom utilities
        below were created to extend this theme past the default utility classes built into Bootstrap's
        framework.</p>

    <!-- Content Row -->
    <div class="row">

        <!-- 유효상 -->
        <div class="col-lg-6">
            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">YOLO를 이용한 학습</h6>
                </div>
                <div class="card-body">                               
                    <div class="small mb-1">어쩌구저쩌구</div>                                    
                    <p class="mb-0 small">Note: This utility animates the CSS opacity property, meaning
                        it will override any existing opacity on an element being animated!</p>
                </div>
            </div>
        </div>
    </div>    
    <!-- End of Main Content -->
{% endblock %}
