{% extends "base.html" %}
{% block style %}
{% endblock %}

{% block contents %}
    <!-- Page Heading -->
    <div class="container-fluid">
    <h1 class="h3 mb-1 text-gray-800">팀 시시비비를 소개합니다&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
    <p class="mb-4"><br>기존 CCTV와 YOLO를 이용해 도로 위 이상상황을 감지함으로써 대형 사고를 예방하고 문제를 신속하게 처리하는 것을 목표로 합니다.
        <a href="https://getbootstrap.com/docs"><br></a></p>

    <!-- Content Row -->
    <div class="row">

        <!-- 유효상 -->
        <div class="col-lg-6">
            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">유효상</h6>
                </div>
                <div class="card-body">                               
                    <div class="small mb-1">팀장</div>                                    
                    <p class="mb-0 small">API구축 및 관리, 서버 모듈화, 웹페이지 통계 관리</p>
                </div>
            </div>
        </div>    

        <div class="col-lg-6"></div>

        <!-- 구본근 -->
        <div class="col-lg-6">
            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">구본근</h6>
                </div>
                <div class="card-body">
                    <div class="small mb-1">Back-end</div>    
                    <p class="mb-0 small">OpenCV 실시간 영상 캡쳐, YOLO모델 학습 및 Object Detection, 상황판단 로직 구현</p>
                </div>
            </div>
        </div>

        <!-- 이광원 -->
        <div class="col-lg-6">
            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">이광원</h6>
                </div>
                <div class="card-body">
                    <div class="small mb-1">Back-end</div>    
                    <p class="mb-0 small">객체 인식 (차선감지: Edge Detection, Image Segmentation)</p>
                </div>
            </div>
        </div>

        <!-- 이예린 -->
        <div class="col-lg-6">
            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">이예린</h6>
                </div>
                <div class="card-body">
                    <div class="small mb-1">Front-end / DB</div>    
                    <p class="mb-0 small">HTML 웹 개발, API구축 및 관리, DB관리</p>
                </div>
            </div>
        </div>

        <!-- 박도연 -->
        <div class="col-lg-6">
            <div class="card position-relative">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">박도연</h6>
                </div>
                <div class="card-body">
                    <div class="small mb-1">Front-end / DB</div>    
                    <p class="mb-0 small">HTML 맵 생성 & 통계 관리, DB구축, API서버 구축 </p>
                </div>
            </div>
        </div>  

    </div>
    </div>
<!-- /.container-fluid -->

<!-- End of Main Content -->
{% endblock %}
